<mat-card class="color">

    <h2 class="alinear">Listado de Recursos</h2>
    <mat-card-header>
        <div>
            <mat-form-field hintLabel="Busque Recursos" appearance="fill" class="colorr">
                <mat-label>Buscar Recursos</mat-label>
                <input matInput #input (keyup)="buscarcod(input.value)" >

            </mat-form-field>
        </div>

    </mat-card-header>
    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-raised-button color="primary"(click)="openRecursoDialog()">Agregar Recursos</button>
                </li>
            </ul>

        </div>
    </mat-card-header>

    <div mat-card-image></div>

    <mat-card-content>
        <table mat-table [dataSource]="dataSource" class="mat-cell">
            
            <!-- id column-->
            <ng-container matColumnDef="rec_id">
                <th mat-header-cell *matHeaderCellDef> Nº</th>
                <td mat-cell *matCellDef="let element"> {{ element.rec_id }} </td>
            </ng-container>
           <!-- name column -->
           <ng-container matColumnDef="rec_codigo">
            <th mat-header-cell *matHeaderCellDef> codigo </th>
            <td mat-cell *matCellDef="let element"> {{ element.rec_codigo }} </td>
        </ng-container>

        <ng-container matColumnDef="facultad">
                <th mat-header-cell *matHeaderCellDef> Cod_Facultad </th>
                <td mat-cell *matCellDef="let element"> {{ element.fac_codigo }} </td>
            </ng-container>



            
             <!-- description column -->
             <ng-container matColumnDef="rec_capmax">
                <th mat-header-cell *matHeaderCellDef> Capacidad  </th>
                <td mat-cell *matCellDef="let element"> {{ element.rec_capmax }} </td>
            </ng-container>

             <!-- name column -->
             <ng-container matColumnDef="tiporecurso">
                <th mat-header-cell *matHeaderCellDef> Tipo  Recurso </th>
                <td mat-cell *matCellDef="let element"> {{ element.rectipo_codigo }} </td>
            </ng-container> 

            <ng-container matColumnDef="rec_nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{ element.rec_nombre }} </td>
            </ng-container> 

            <!-- description column -->
            <ng-container matColumnDef="rec_descripcion">
                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                <td mat-cell *matCellDef="let element"> {{ element.rec_descripcion }} </td>
            </ng-container>

             <!-- description column -->
             <ng-container matColumnDef="ubicacion">
                <th mat-header-cell *matHeaderCellDef> ubicacion </th>
                <td mat-cell *matCellDef="let element"> {{ element.ubi_codigo }} </td>
            </ng-container>


            <!-- actions-->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element; let i=index;">
                    <!--realizamos un edit para actualizar evento onclick-->

                   <button mat-icon-button color="accent" (click)="edit(element.rec_id, element.rec_codigo, element.tiporecurso, element.facultad, element.rec_capmax, element.rec_nombre, element.rec_descripcion, element.ubicacion)">
                        <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                <!--evento  para eliminar -->
                    <button mat-icon-button color="accent" (click)="delete(element.rec_id)">
                        <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </mat-card-content>

</mat-card>

<footer>
    
        <mat-toolbar class="colorm" >

        
            <!--<img  class="foto2" src="./assets/medalla.png">---> 
           </mat-toolbar>
    
</footer>