table{
    width: 100%;
}

ul li{

    list-style: none;
}
.alinear {

    text-align: center;
    margin-top: 20px;
}

mat-form-field {
    width: 240%;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}

.foto2 { 
    padding: 2px; 
    margin: auto; 
     float: left;
      width: 140px; 
   
    align-content: center;
}

.colorm{
    background-image: url(/src/assets/uni.jpg);
    background-position: left bottom;
}