<mat-card>


    <mat-card>

       
        
    <mat-card-header>
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-raised-button color="primary"(click)="openHorarioDialog()">Agregar Horario</button>
                </li>
                
            </ul>

        </div>
    </mat-card-header>
     
    <mat-card-content>


    </mat-card-content>
        
            
    
    </mat-card>

</mat-card>